@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
    font-family: 'Oswald',sans-serif;
    margin:0;
    font-size: 20px;
    height: 100vh;
}
p,h3{
    margin: 0;
}
button{
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    font-size: 0.7em;
}
.nav-bar{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    background-color: #f1f1f1;
    height: 10vh;
}
.left{
    display: flex;
    align-items: center;
    gap:20px;
    flex-grow: 1;
    font-size: 22px;
}
.logo-rest{
    background-image: url('../rest_logo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 150px;
}
.right{
    display: flex;
    gap:20px;
}
.nav-btn{
    color: black;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
}

.right .nav-btn{
    border: 1px solid black;
    border-radius: 20px;
    padding:10px 20px;
}
.content{
    height: calc(100vh - 15vh);
    display: grid;
    grid-template-rows: 3fr 1fr;
}
.content .image{
    grid-row: 1/3;
    grid-column: 1;
    background-image: url('../food-table.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 30vw;
    z-index: 1;
    margin-left: 3em;
}
.black{
    grid-row: 1;
    grid-column: 1/3;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.white{
    grid-row: 2;
    grid-column: 1/3;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: flex-end;
}
.text{
    grid-column: 2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-left: -100px;
    align-items: flex-start;
}
.text p{
    text-transform: uppercase;
}
.text h3{
    font-weight: 400;
    font-size: 2em;
}
.text button{
    padding: 10px 25px;
    border: 1px solid #f1f1f1;
    border-radius: 30px;
    background-color: black;
    color: #f1f1f1;
}
.menu{
    grid-row: 1/3;
    padding:0px 20px;
}
.btns{
    display: flex;
    gap:10px;
}
.btns button{
    margin-top:20px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 8px 15px;
    background-color: #f1f1f1;
    cursor: pointer;
}
.container{
    margin-top:20px ;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    column-gap: 20px;
}
.cont-item{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:20px;
    padding: 10px 10px;
}
.cont-item .img{
    align-self: center;
    background-image: url('../burger.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 10em;
    width: 12em;
}
.cont-item h3{
    font-weight: 600;
    font-size: 1em;  
    text-transform: uppercase;
}
.cont-item p{
    font-size: 0.8em;
}
#burger{
    background-color: black;
    color: #f1f1f1;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    width: 100%;
}
.main{
    text-transform: uppercase;
    font-size: 2em;
    margin:0;
}
.inputs{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    margin-bottom: 30px;
}
.inputs input{
    padding: 3px 5px;
    border: none;
    background-color: #f1f1f4;
    height: 40px;
    width: 40%;
}
.inputs button{
    background-color: black;
    color:#f1f1f1;
    border-radius: 10px;
    width: 10vw;
    align-self: center;
    padding: 10px 25px;
}
textarea{
    border: none;
    width: 40%;
    background-color: #f1f1f4;
    resize: none;
    font-family: 'arial';
    padding: 3px 5px;

}
.contacts{
    display: flex;
    justify-content: center;
    gap:50px;
    width: 100%;
}

.card{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width:300px;
}
.contacts .card span{
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}
.card h3{
    font-size: 0.8em;
    grid-row: 1;
    grid-column: 2;
}
.card p{
    grid-column: 2;
    font-size: 0.7em;
}
#card-mail span{
    align-self:start;
}